Repository Murilo-Carazato/conversor-cripto, changes with the labels that .github/labeler.yml gives for each.
All labels: auth, database, ci-cd, documentation, dependencies, chore

fix(deps): regenera o lockfile para corrigir chave duplicada
  pnpm-lock.yaml
Labels: dependencies

fix(security): força versao segura do brace-expansion com overrides
  package.json
  pnpm-lock.yaml
Labels: dependencies

fix(deps): regenera lockfile a partir de um estado limpo
  pnpm-lock.yaml
Labels: dependencies

fix(deps): repara e finaliza lockfile consistente
  pnpm-lock.yaml
Labels: dependencies

Dependabot/npm and yarn/swc/cli 0.7.7 (#27)
  package.json
  pnpm-lock.yaml
Labels: dependencies

fix(ci): corrige sintaxe da funcao toLower no workflow de deploy
  .github/workflows/deploy.yml
Labels: ci-cd

fix(ci): corrige sintaxe da funcao toLower no workflow de deploy (#28)
  .github/workflows/deploy.yml
Labels: ci-cd

Update deploy.yml
  .github/workflows/deploy.yml
Labels: ci-cd

Update deploy.yml (#29)
  .github/workflows/deploy.yml
Labels: ci-cd

Update deploy.yml
  .github/workflows/deploy.yml
Labels: ci-cd

Update deploy.yml (#30)
  .github/workflows/deploy.yml
Labels: ci-cd

feat(build): adiciona Dockerfile e cocker-composer para a aplicacao
  Dockerfile
  docker-compose.yml
Labels: ci-cd

feat(build): adiciona Dockerfile e cocker-composer para a aplicacao (#31)
  Dockerfile
  docker-compose.yml
Labels: ci-cd

feat(build): adiciona Dockerfile e cocker-composer para a aplicacao
  .github/workflows/docker-linter.yml
  .hadolint.yaml
  Dockerfile
Labels: ci-cd

feat(build): adiciona Dockerfile e cocker-composer para a aplicacao (#32)
  .github/workflows/docker-linter.yml
  .hadolint.yaml
  Dockerfile
Labels: ci-cd

feat(deps): add cross-spawn dependency to package.json and pnpm-lock.yaml overrides
  package.json
  pnpm-lock.yaml
Labels: dependencies

feat(deps): add cross-spawn dependency to package.json and pnpm-lock.yaml overrides (#33)
  package.json
  pnpm-lock.yaml
Labels: dependencies

feat(deps): add cross-spawn dependency to package.json and pnpm-lock.yaml overrides
  Dockerfile
  package.json
  pnpm-lock.yaml
Labels: ci-cd, dependencies

refactor(Dockerfile): improve comments and structure for clarity
  Dockerfile
Labels: ci-cd

refactor(Dockerfile): consolidate npm and pnpm installation into a single command for optimization
  Dockerfile
Labels: ci-cd

refactor(Dockerfile): improve comments and structure for clarity (#34)
  Dockerfile
Labels: ci-cd

feat(deploy): combine build and push steps in Docker workflow
  .github/workflows/deploy.yml
Labels: ci-cd

feat(deploy): combine build and push steps in Docker workflow (#35)
  .github/workflows/deploy.yml
Labels: ci-cd

.github/labeler.yml:

auth:
  - changed-files:
    - any-glob-to-any-file: ['src/auth/**/*', 'src/users/**/*']

database:
  - changed-files:
    - any-glob-to-any-file: ['prisma/**/*']

'ci-cd':
  - changed-files:
    - any-glob-to-any-file: ['.github/workflows/*', 'Dockerfile', 'docker-compose.yml']

documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md']

dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'pnpm-lock.yaml']

chore:
  - changed-files:
    - any-glob-to-any-file: ['test/**/*', '*.config.js', '.prettierrc.json', '.editorconfig']
